HELP.md

# Build
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Secrets — never commit this
.env

# Logs
*.log

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# OS
.DS_Store